/* Portfolio - main style sheet */

/* section classes  */
header {background-color: #ffffff;}
header, h2 {font-family: Georgia, 'Times New Roman', Times, serif;}
body, a, p, nav {font-family: Arial, Helvetica, sans-serif;}

body {
  margin: 0;
  width: 100%;
}

/* Header Outer & Inner containers */
header {
  border-bottom: 2px solid #777777;
  /* working on fixed header but
     currently this shifts the inner containers
     to the left shortening the width of header
     Need to investigate why */
  /* position: fixed;
  top: 0; */
 
 } 

#topLine {
  background-color: red;
  height: 70px;
  background-color: #ffffff;
}

#innerTopLine {
  width: 960px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
}

/* Header Name Logo ids and classes */
   #name {
    float: left;
    box-sizing: border-box;
    font-size:24px;
    font-weight: bold;
    width: 200px;
    height: 70px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding: 20px;
  }

/* nav menu */
ul {
  float: right;
  list-style-type: none;
 }

li {
  float: left;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

a {
  text-decoration: none;
}

#mainSection {
  clear: both;
  overflow: auto;
  height: 600px;
  /* border-top: 2px solid #777777; */
  background-image: url(../images/paper_2.png);
 }

#contentRule {
  background-color: #dddddd;
  height: 2px;
}

article {
  width: 960px;
  padding: 20px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border: 3px solid #dddddd;
  box-sizing: border-box;
}

p {
  line-height: 1.6;
}

#profileImg {
  float: left;
  width: 168px;
  height: 174px;
  padding: 5px 20px 20px 0px;
}

footer {
  background-color: #666666;
  position: relative;
  height: 40px;
  border-top: 6px solid #4aaaa5;
  font-size: 9pt;
 /* this is not the right color */ 
  color: #cccccc;
}

/* absolute position the Copyright 4px from bottom
   center the Copyright within footer horizontally
   using the transform */
#copyRight {
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translate(-50%);
  }

/* text colors */
header {color: #4aaaa5;}
h2 {color: #4aaaa5;}
.mainTextColor {color: #777777;}

